/* Menu Styling Start*/
#logo {
    padding: 10px;
}

.topnav {
    background-color: #3C667A;
    height: 100px;
    width: 100%;
}

.topmenu {
    background-color: #31BF94;
    height: 50px;
    width: 100%;
}

nav a {
    display: block;
    float: right;
    font-size: 14px;
    font-weight: 200;
    color: #fff;
    padding: 20px 10px 10px 10px;
    text-decoration: none;
}

nav .hamburger {
    color: #fff;
    font-size: 30px;
    float: left;
    padding: 10px;
    display: block;
}

nav a:hover {
    background-color: #74F8CA;
}

/* Menu Styling End */

/* Image Stylling Start */
img.image-left-wrap {
    float: left;
    margin: 0 12px 12px 0;
    height: 240px;
}
/* Image Styling End */

/* Start: Content Styling */
h1, h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-size: xx-large;
}

p {
    line-height: 24px;
    margin: 24px 0;
}

blockquote {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: large;
    font-style: italic;
}


ul {
    font-size: .9em;
    line-height: 24px;
}

.header2 {
    background-color: #31BF94;
    color: #ffffff;
    padding: 24px;
    font-size: 36px;
    text-align: center;
}

.quoting {
    text-align: right;
}

#main-topic::first-letter {
    font-family: "Playfair Display", serif;
    font-size: 84px;
    color: rgb(153, 0, 51);
    float: left;
    line-height: 60px;
    padding: 4px 8px 0px 3px;
}

.cards {
    background-color: #A1BDCA;
    padding: 24px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.colpad {
    padding: 0px 24px 24px;
}

/* Responsive */

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */

    /* hide standard navigation */
    nav a {
        width: 100%;
        background-color: #55DBAF;
        text-align: center;
        display: none;
    }

        /* toggle menu items */
        .active {
        display: block;
    }
}


@media only screen and (min-width: 600px) {
    /* For tablets: */


    nav .hamburger {
        display: none;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-6 {
        width: 50%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-4 {
        width: 33.33%;
    }

    .col-6 {
        width: 50%;
    }

    .limit-col {
        max-width: 1024px;
        margin: 0 auto;
    }
}
