@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
}

p {
    line-height: 24px;
    margin: 24px 0;
}

blockquote {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: large;
    font-style: italic;
}


ul {
    font-size: .9em;
    line-height: 24px;
}

.header2 {
    background-color: #31BF94;
    color: #ffffff;
    padding: 24px;
    font-size: 36px;
    text-align: center;
}

.imgcenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.quoting {
    text-align: right;
}

.dropcase {
    font-family: "Playfair Display", serif;
    font-size: 84px;
    color: rgb(153, 0, 51);
    float: left;
    line-height: 60px;
    padding: 4px 8px 0px 3px;
}