
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');

* {
  box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: xx-large;
    font-style: normal;
}


p {
  line-height: 24px;
  margin: 24px 0;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #31BF94;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li a {
  color: #FFFFFF;
  text-decoration: none;
}

.menu li:hover {
  background-color: #0099cc;
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: large;
  font-style: italic;
}


ul {
  font-size: .9em;
  line-height: 24px;
}

.header2 {
 background-color: #31BF94;
  color: #ffffff;
  padding: 24px;
  font-size: 36px;
  text-align: center;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.quoting {
  text-align: right;
}

.footer {
  background-color: #31BF94;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}